:root {
    --blue-text: #2196F3;
    --black-text: #212121;
    --gray-text: #757575;
    --white-text: #FFFFFF;
    --gray-text-op60: rgba(255, 255, 255, 0.6);
    --icon-text: #AFB1B8;
 
    --white-color: #FFFFFF;
    --hero-color: #2F303A;
    --light-gray-color: #F5F4FA;
    --blue-color: #2196F3;
    --gray-color: #AFB1B8;
    --bg-light-white-collor: #EEEEEE;
    --gradient-collor: rgba(47, 48, 58, 0.4);
    --service-shadow-collor: rgba(47, 48, 58, 0.8);
    --border-form:rgba(33, 33, 33, 0.2);
    --footer-border: rgba(255, 255, 255, 0.3);
    --footer-social-collor: rgba(255, 255, 255, 0.1);
    --placeholder-collor:rgba(117, 117, 117, 0.5);
    --backdrop-collor: rgba(0, 0, 0, 0.2);
    --overlay-collor:rgba(33, 150, 243, 0.9);
    --border-icon-collor:rgba(0, 0, 0, 0.1);
    --team-box-shadow-1: rgba(0, 0, 0, 0.12);
    --team-box-shadow-2: rgba(0, 0, 0, 0.14);
    --team-box-shadow-3: rgba(0, 0, 0, 0.2);
    
    --timing: cubic-bezier(0.4, 0, 0.2, 1);
 }


body {
    margin: 0;
    padding: 0;
    
    @media screen and (min-width : 480px) {
        width: 480px;
        background-color: blue;
    }
}

ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}