.team {
    background-color: $light-gray-color;
}
  
.team-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px; 
    outline: 1px solid red;
}
  
.team__title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $black-text;
}

.team-cards {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.master-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 1px 3px $team-box-shadow-1, 0px 1px 1px $team-box-shadow-2, 0px 2px 1px $team-box-shadow-3;
    border-radius: 0px 0px 4px 4px;
    background-color: $white-color;
    outline: 1px solid red;

    &:not(:last-child) {
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        margin-right: 30px;
        margin-bottom: 30px;
        outline: 1px solid red;
    }
  
    &:nth-child(2n) {
        @media screen and (min-width: 768px) {
            margin-right: 0px;
        }
    }
  
    &:nth-last-child(-n + 2) {
        @media screen and (min-width: 768px) {
            margin-bottom: 0px;
        }
    }
}
  
.master-card__avatar {
    max-width: 100%;
    height: auto;
}
  
.master-card__name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $black-text;
}
  
.master-card__profession {
    margin-top: 0px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $gray-text;
}
  
.master-social {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
  
.master-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $icon-text;
    transition: 250ms $timing;
}
  
.master-social__link:hover,
.master-social__link:focus {
    background-color: $blue-color;
    color: $white-text;
}
  
.master-social__icon {
    fill: currentColor;
}