$white-color: #FFFFFF;
$gradient-color: rgba(47, 48, 58, 0.4);
$hero-color: #2F303A;
$blue-color: #2196F3;
$gray-color: #AFB1B8;
$light-gray-color: #F5F4FA;
$footer-social: rgba(255, 255, 255, 0.1);
$team-box-shadow-1: #0000001f;
$team-box-shadow-2: rgba(0, 0, 0, 0.14);
$team-box-shadow-3: rgba(0, 0, 0, 0.2);
$footer-border: rgba(255, 255, 255, 0.3);

$black-text: #212121;
$blue-text: #2196F3;
$white-text: #FFFFFF;
$gray-text: #757575;
$icon-text: #AFB1B8;
$gray-text-op60: rgba(255, 255, 255, 0.6);

$timing: cubic-bezier(0.4, 0, 0.2, 1);