$white-color: #FFFFFF;
$gradient-color: rgba(47, 48, 58, 0.4);
$hero-color: #2F303A;
$blue-color: #2196F3;
$light-gray-color: #F5F4FA;

$black-text: #212121;
$blue-text: #2196F3;
$white-text: #FFFFFF;
$gray-text: #757575;

$timing: cubic-bezier(0.4, 0, 0.2, 1);